.content-slider {
    position: relative;
    /* max-width: max-content; */
    /* height: 80vh; */
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* height: 400px; Adjust as needed */
    /* border: 1px solid #ccc; */
    padding: 5rem 3rem;
    /* box-sizing: border-box; */
    /* background-color: #f9f9f9; */
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  @media (max-width: 858px){
    .slide{
        display: block;
        text-align: center;
    }
    .slide-content{
        margin-bottom: 1em;
    }
  }
  .slide.transitioning {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .slide .img {
    width: 100%;
    height: auto;
    display: block;
    /* margin: auto; */
    text-align: center;

  }
  @media (max-width: 450px){
    .slide .image{
        height: 250px;
    }
  }
  
  .slide-content p {
    font-size: 1.2em;
  }
  
  .slide-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  .dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: rgba(1, 60, 1, 0.279);
  }
.client{
    text-align: center;
    /* color: rgb(41, 41, 41); */
}
.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}
.community{
    margin: 2rem 0;
    text-align: center;
    /* color: rgb(41, 41, 41); */
}

.logos1{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* max-width: 30vw; */
}
@media (max-width: 1150px){
    .logos1{
        display: block;
        margin: 1rem 0;
    }
}
.logos1 div {
    padding: 0 6rem;
}

.unlock{
    display: flex;
    justify-content: space-evenly;
    /* color: rgb(41, 41, 41); */
    /* margin: 2rem ; */
}
.unlock img {
    
    /* min-width: 40vw; */
    text-align: center;
    /* padding: 0 2rem; */
}
.unlock .div{
    padding: 4rem;
    align-items: center;
    margin: auto;
}
.btn1{
    background-color: rgb(3, 154, 3);
    border: none;
    border-radius: 3px;
    width: 8.5em;
    height: 2.5rem;
    color: white;
    margin-top: 2rem;
}
@media (max-width: 940px){
    .unlock{
        display: block;
        text-align: center;
    }
    .unlock img{
        height: 300px;
    }
}
.achievements{
    display: flex;
    justify-content: space-around;
}
.achievements .div{
    padding-top: 2rem;
}
.achievements .green{
    color: rgb(3, 154, 3) ;
}
.achievements .counts{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}
.achievements .counts img{
    padding: 2px 1rem;
}
.achievements .counts .img{
    padding-left: 10rem;
}
@media (max-width: 940px){
    .achievements{
        display: block;
        text-align: center;
    }
    .achievements .counts img{
        padding: 2px;
    }
    .achievements .counts .img{
        padding-left: 8vw;
    }
}
.customer{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    /* color: rgb(41, 41, 41); */
}
.customer img{
    margin-top: 1.8rem;
    margin-left: 1rem;
    align-items: center;
}
.customer .div{
    padding: 2rem;
    /* align-items: center; */
    /* margin: auto; */
}
.customer .p{
    color: rgb(3, 154, 3) ;
    font-weight: 600;
}
.customer p {
    margin-top: .7rem;
}
.customer a{
    margin-left: 2rem;
    border: none;
    cursor: pointer;
}
@media (max-width: 940px){
    .customer{
        display: block;
        text-align: center;
    }
    .customer .img{
        height: 270px;
    }
    .customer .div{
        padding: 0;
    }
    .customer img{
        margin: 1rem;
    }
}
.community-update{
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.community-update-flex{
    display: flex;
    justify-content: space-evenly;
}
.update-flex{
    display: flex;
    flex-direction: column;
}
.update-menu.light{
    background-color: #ffffff;
}
.update-menu.dark{
    background-color: rgb(12, 28, 1);
}
.update-menu{
    margin-top: 2rem;
    width: 22vw;
    max-width: 21rem;
    background-color: #ffffff;
    position: relative;
    bottom: 25%;
    left: 6%;
    /* right: 1%; */
    border-radius: 6px;
}

.community-update-flex a{
    color: green;
    font-size: 1.6rem;
    text-decoration: none;
}
@media (max-width: 1440px){
    /* .community-update-flex{
        display: block;
    } */
    .community-update-flex .img{
        height: 270px;
    }
    .update-menu{
        /* max-width: 22vw; */
        width: 22vw;
        max-width: 18rem;
        background-color: #ffffff;
        position: relative;
        bottom: 25%;
        /* top: 30%; */
        left: 9%;
        /* right: 1%; */
        border-radius: 6px;
    }
}
@media (max-width: 1240px){
    /* .community-update-flex{
        display: block;
    } */
    .community-update-flex .img{
        height: 250px;
    }
    .update-menu{
        
        background-color: #ffffff;
        position: relative;
        bottom: 25%;
        /* top: 30%; */
        left: 10%;
        /* right: 1%; */
        border-radius: 6px;
    }
}
@media (max-width: 1120px){
    .update-menu{
        /* background-color: #ffffff; */
        position: relative;
        bottom: 25%;
        /* top: 30%; */
        left: 14%;
        /* right: 1%; */
        border-radius: 6px;
    }
}
@media (max-width: 1050px){
    .community-update-flex{
        display: block;
        
    }
    .community-update-flex .img{
        height: 40vh;
        width: 80vw;
        margin: auto;
    }
    .update-menu{
        /* width: 500px !important; */
        /* background-color: #ffffff; */
        width: 80vw;
        max-width: 38rem;
        font-size: .8rem;
        position: relative;
        /* margin: auto; */
        bottom: 29%;
        /* top: 30%; */
        /* left: 40%; */
        /* right: 1%; */
        border-radius: 6px;
    }
}
@media (max-width: 950px){
    .community-update-flex .img{
        height: 45vw;
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 650px){
    .community-update-flex .img{
        height: 35vh;
        width: 80vw;
        margin: auto;
    }
}
.foot{
    text-align: center;
    margin: 2rem;
}
.foot h1{
    font-size: 4rem;
}
@media (max-width: 940px){
    .foot h1{
        font-size: 2.5rem;
    }
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(31, 38, 41);
    color: white;
    padding: 5rem 0;
}
.footer .div img{
    margin-bottom: 2rem;
}
.footer .div .p{
    margin-bottom: 2.5rem;
}
.block{
    display: flex;
    justify-content: space-evenly;
    
}
.block div{
    padding: 0 3rem;
}
.block div h3{
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
}
.block div p{
    padding-bottom: 1rem;
}
.block div p a{
    text-decoration: none;
    color: white;
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    row-gap: 0;
}
.input{
    background-color: rgba(255, 255, 255, 0.21);
    border: none;
    /* background: none; */
    position: relative;
    color: white;
    width: 15rem;
    padding: 10px;
    outline: none;
    font-size: 1em;
    border-radius: 4px;
}
.input::placeholder{
    color: #ffffff;
}
.icon{
    position: relative;
    right: 9%;
    top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
}
@media (max-width: 1040px) {
    .footer{
        display: block;

    }
    .footer .div{
        padding: 2.5rem;
    }
    
}
@media (max-width: 800px) {
    .block{
        display: block;
    }
    .icon{
        /* position: relative; */
        right: 5%;
        top: 5px;
    }
}

@media (max-width: 600px) {
    
    .icon{
        /* position: relative; */
        right: 7%;
        top: 5px;
    }
}
@media (max-width: 380px) {
    
    .icon{
        padding: 1.2rem;
    }
}



